:root {
  --COLOR-GRAY: #333333;
  --COLOR-GRAY-DARK: #222222;
  --COLOR-GRAY-LIGHT: #cccccc;
  --COLOR-ONGOING: yellow;
  --COLOR-DONE: green;
  font-family: Helvetica;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}